<% provide(:title, 'Todo Lists') %>

<p id="notice"><%= notice %></p>

<h1>Todo Lists</h1>

<% @todo_lists.each do |todo_list| %>
  <div class="card my-4">
    <div class="card-body">
      <h2 class="card-title"><%= todo_list.title %></h2>
      <p class="card-text"><%= todo_list.description %></p>
      <%= link_to todo_list_todo_items_path(todo_list), class: "card-link", alt: 'Items', title: 'Items' do %>
        <span><i class="fa fa-list-alt" aria-hidden="true"></i></span>
      <% end %>
      <%= link_to todo_list, class: "card-link", alt: 'Show', title: 'Show' do %>
        <span><i class="fa fa-info" aria-hidden="true"></i></span>
      <% end %>
      <%= link_to edit_todo_list_path(todo_list), class: "card-link", alt: 'Edit', title: 'Edit' do %>
        <span><i class="fa fa-edit" aria-hidden="true"></i></span>
      <% end %>
      <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure you want to delete todo list?' }, alt: 'Delete', class: "card-link", title: 'Delete' do %>
        <span><i class="fa fa-trash" aria-hidden="true"></i></span>
      <% end %>
    </div>
  </div>
<% end %>

<%= paginate @todo_lists %>
<%= link_to 'New Todo List', new_todo_list_path, class: "btn btn-primary" %>
